body {
    background: url(../imagenes/footer.jpg);
}
*{
  box-sizing: border-box
}
/* CSS DE header */
.logo {
    
    max-width: 100px;
    max-height: 100px;
}
.contenedorcito {
  width: 90%;
  margin: auto;
}
header {
  width: 100%;
  padding: 30px 0;
  border-bottom: 3px solid gray;
}
header .contenedorcito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: beige;
  text-decoration: none;
  margin-right: 20px;
}
form {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}
form{
  display: flex;
  justify-content: flex-end;
}
/* FIN CSS DE header */
/* CSS DE portada*/
.film {
  font-size: 16px;
  min-height: 900px;
  color: white;
  background: url(../imagenes/Creed.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid gray;
}
.film .Cotenedor {
  margin: auto;
  margin-bottom: 100px;
}
.film .titulo {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}
/* FIN CSS DE portada*/
/* CSS DE main cartelera*/
main{
  color: beige;
}
.container1 {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 25px;
}
.container2 {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 25px;
}
.container3 {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 25px;
}

img{
  width: 150px;
}
/* FIN CSS DE main cartelera*/
/* CSS DE footer*/
footer {
  border-top: 3px solid gray;
  color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 30px;
  height: 90px;
  align-items: flex-end;
}
/* FIN CSS DE footer*/
/* CSS DE genres.html y detail-genres.html */
.titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.titulo {
  display: flex;
  justify-content: left;
}
.imag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 200px;
  border-radius: 5%;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: transform 0.8s;
  
}
.imag:hover{
  transform: scale(1.1);
}

.generos {
  color: beige;
  text-decoration: none;
  font-family: Times;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300px;
}
.generos { 
  color: beige;
}
.palabras { 
  background-image: url(../imagenes/uncharted.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 500px;
}
/*  Fin genres.html y detail-genres.html */
@media (max-width: 433px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header form {
    display: none;
  }
  .lista {
    display: flex;
    flex-direction: column;
  }
  .generos1 {
    display: flex;
    justify-content: flex-start;
  }
}

#main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elem{
  width: 300px;
  height: 400px;
  margin-top: 10%;
  border-radius: 3px;
}

.imgs{
  width: 250px;
  height: 350px;
  border-radius: 5%;
}

.titulospelis{ 
  text-align: center;
  margin-right: 12%;
  font-weight: 900;
  font-size: 18px;
}