body {
    background: url(../imagenes/footer.jpg);
}
.logo {
    border-radius: 60px; 
    max-width: 100px;
    max-height: 100px;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  width: 100%;
  padding: 30px 0;
  border-bottom: 3px solid gray;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: beige;
  text-decoration: none;
  margin-right: 20px;
}
.film {
  font-size: 16px;
  min-height: 900px;
  color: white;
  background: url(../imagenes/Creed.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid gray;
}
.film .container {
  margin: auto;
  margin-bottom: 100px;
}
.film .titulo {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}
.cartelera {
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.cartelera {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 0px;
}

form {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}
.Contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
.imagen {
    display: flex;
    height: 300px;
    width: 200px;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
    overflow: scroll;
    border-radius: 15px;
    transition: transform 0.8s;
}
.imagen:hover {
  transform: scale(1.1);
}
main {
    color: beige;
}
.Item-Garra {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
.align {
  margin-left: 80px;
}
.no-search-results {
  display: none;
}
form{
  display: flex;
  justify-content: flex-end;
}
.buscador {
  margin-right: 10px;
}
.detail {
  text-decoration: none;
  color: beige;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uncharteditem {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
}
.uncharteditem p {
  margin: 20px;
  font-size: 20px;
}
.uncharteditem h2 {
  font-size: 40px;
  padding: 10px;
  margin: 30px;
}
footer {
  border-top: 3px solid gray;
  color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  bottom:0;
  height: 90px;
  align-items: flex-end;
}

/* CSS DE genres.html y detail-genres.html */


.lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #161414;
  overflow: scroll;
}
.titulo {
  display: flex;
  justify-content: left;
}
.imag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 200px;
  border-radius: 5%;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: transform 0.8s;
  
}
.imag:hover{
  transform: scale(1.1);
}

.generos1 {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300px;
}
.generos2 { 
  color: white;
}
.palabras { 
  background-image: url(../imagenes/uncharted.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 500px;
}
/*  Fin genres.html y detail-genres.html */
@media (max-width: 433px) {
  header nav {
    display: none;
  }
  header form {
    display: none;
  }
}
